<div class="d-flex flex-column justify-content-center align-items-center" style="height: 90vh">
<div class="p-5 login-container d-flex flex-column">
  <div class="avartar d-flex flex-column justify-content-center align-items-center align-self-center">
    <span><i class="fa fa-3x fa-lock text-white"></i></span>
  </div>
  <p class="lead">Login</p>
  <span class="hint text-muted">Enter a valid user id and password, then click the login button</span>
  <form [formGroup]="loginForm" role="form" novalidate (ngSubmit)="signIn()">
    <div class="row">
      <div class="col-12 mb-2 "><label for="txtUserId{{idSuffix}}" class="col-form-label">User Id / Email</label>
      </div>

      <div class="col-12 mb-4 "><input [formControl]="userId"
                                       [ngClass]="{'is-invalid':userId.invalid && userId.touched  && (loginForm.dirty || loginForm.touched)}"
                                       type="text" id="txtUserId{{idSuffix}}" placeholder="Unique User Id"
                                       name="txtUserId{{idSuffix}}" class="form-control control-lg">
        <span class="invalid-feedback" *ngIf="userId['errors']?.required"><i class="fa fa-user"></i>&nbsp; User Id Field is Required</span>
        <!--<span class="invalid-feedback" *ngIf="userId.errors?.minLength">Minimum length is 6 characters</span>-->
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-2 "><label for="txtPwd{{idSuffix}}" class="control-label">Password</label></div>
      <div class="col-12 mb-4 "><input type="password"
                                       [ngClass]="{'is-invalid':password.invalid && loginForm.dirty } "
                                       [formControl]="password"
                                       placeholder="Strong Password" id="txtPwd{{idSuffix}}"
                                       name="txtPwd{{idSuffix}}" class="form-control control-lg">
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-2 "></div>
      <div class="col-12 mb-2 ">
        <button
          [disabled]="loginForm.invalid || processing"
          class="btn-primary btn-block btn btn-lg">
          <ssb-spinner [visible]="processing" [size]="'fa-2x'"></ssb-spinner><span *ngIf="!processing">Login</span>
        </button>
      </div>
    </div>
  </form>
</div>

</div>
