/* You can add global styles to this file, and also import other style files */
.full-screen-dialog .modal-lg
{
  margin-top : 0 !important;
  max-width : 100%  !important;
  overflow:hidden;

}
.full-screen-dialog div.modal-body
{
  /*min-height: 75vh;*/
  overflow: auto;
  padding : 0;
}
.full-screen-dialog div.modal-header
{
  /*background-color: #849188;*/
  /*color:white;*/
  padding : 10px;
  /*box-shadow: 0px 2px 13px rgba(66, 56, 69, 0.44);*/
   /*border-bottom: none;*/
   border-top-left-radius: 0;
   border-top-right-radius: 0;

}
.full-screen-dialog div.modal-footer
{
  background-color: #282429;
  color:white;
  padding : 10px;
}
body{
  font-size : 13px;
}
